#containerApps {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.appCard{
    background-color:white;
    padding: 1%;
    margin: 0.5em auto 0.5em;
    width: 80%;
    border-radius: 5px;
}

#appName{
    background-color: rgba(2, 2, 110, 0.308);
    padding: 4px;
    /* border-radius: 5px; */
    width: 100%;
}

#appRule{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-bottom: solid rgba(146, 156, 173, 0.322) 1px;
}
#disabled{
    color: red;
}
#enabled{
    color:rgb(16, 173, 16);
}